$mainColor: lighten(#495362, 20%);
$dimmedColor: #495362;
$bgColor: #212934;
$highlightColor: #ECEEEF;
$currentNoteColor: darken($bgColor, 10%);

$mobileCut: 600px;

$chordColors: (
	"maj": #F24949,
	"min": #056CF2,
	"dim": orange,
	"aug": green,
	"maj7": #F288B9,
	"7": #04BF9D,
	"minmaj7": #F216A5,
	"m7": #6B71F2,
	"m7b5": #447322,
	"dim7": #5C3A8C
);

body,
html {
	font-family: 'Futura', 'Arial', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	background-color: $bgColor;
	color: $mainColor;
}

html {
	box-sizing: border-box;
	min-height: 100vh;
}

* {
	box-sizing: inherit;
	&:after,
	&:before {
		box-sizing: inherit;
	}
}

a {
	color: $highlightColor;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

body.is-playing {
	article.circle:not(.is-playing) {
		opacity: .5;
	}
}

main {
	padding: 0 3rem;
	@media (max-width: $mobileCut) {
		padding: 0 2rem;
	}
}

header {
	h1 {
		font-size: 2rem;
		line-height: 3rem;
		margin: 3rem 0;
		color: $highlightColor;
	}
	p {
		line-height: 1.5rem;
	}
}

footer {
	p {
		color: $mainColor;
		margin: 3rem 0;
		text-align: right;
		@media (max-width: $mobileCut) {
			text-align: center;
		}
	}
}

.circles {
	margin-top: 4rem;
	display: grid;
	grid-gap: 4rem 2rem;
	grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
	@media (max-width: $mobileCut) {
		display: block;
		.circle figure svg {
			width: 100%;
		}
	}

	.circle {
		transition: opacity .3s ease-in-out;
		@each $name, $color in $chordColors {
			&[data-chord-name="#{$name}"] {
				figure svg .polygons polygon {
					stroke: $color;
				}
			}
		}
		&.is-playing {
			svg .center, svg:hover .center {
				animation: none;
				transform: scale(10);
				fill: $highlightColor;
			}
			svg {
				.circle,
				.points circle {
					stroke: lighten($dimmedColor, 40%);
				}
				.labels {
					fill: lighten($dimmedColor, 40%);
				}
			}
		}

		figure {
			margin: 0;
			text-align: center;
			@media (max-width: $mobileCut) {
				margin-bottom: 4rem;
			}

			figcaption {
				line-height: 2rem;
				color: $highlightColor;
			}

			svg {
				max-width: 100%;
				margin-bottom: 1rem;
				@keyframes circle-center {
					0%{
						transform: scale(1);
					}
					100% {
						transform: scale(10);
					}
				}
				.center {
					fill: $dimmedColor;
					transform-origin: 50% 50%;
				}

				&:hover {
					cursor: pointer;
					.center {
						animation: circle-center .4s ease-in-out;
						animation-iteration-count: infinite;
					  animation-direction: alternate;
					}
				}

				.circle {
					fill: none;
					stroke: $dimmedColor;
				}

				.labels {
					fill: $dimmedColor;
					text {
						transition: fill .2s ease-in-out;
						&.selected {
							fill: $highlightColor;
						}
						&.is-current {
							fill: $currentNoteColor;
						}
					}
				}

				.points {
					circle {
						fill: $dimmedColor;
						transition: fill .2s ease-in-out;
						&.selected {
							fill: $highlightColor;
						}
						&.is-current {
							fill: $currentNoteColor;
						}
					}
				}
			}
		}
	}
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  svg {
    fill: $dimmedColor;
		transition: fill .3s ease-in-out;
		&:hover {
			fill: $highlightColor;
		}
    .octo-arm,
    .octo-body {
      fill: $bgColor;
    }
  }
	&:hover .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
	@keyframes octocat-wave {
		0%,
		100% {
			transform: rotate(0);
		}

		20%,
		60% {
			transform: rotate(-25deg);
		}

		40%,
		80% {
			transform: rotate(10deg);
		}
	}
	@media (max-width: $mobileCut) {
		&:hover .octo-arm {
			animation: none;
		}

		.octo-arm {
			animation: octocat-wave 560ms ease-in-out;
		}
	}
}
